
<div class="grid grid-cols-1 xl:grid-cols-3 my-8 gap-5 xl:gap-0">
    <div class="flex justify-center xl:justify-start items-center xl:items-start">
        <img class="w-24 md:w-32 rounded-full cursor-pointer" src="../../assets/WATAMU SPRING.png" alt="">
    </div>
    <div class="flex justify-center items-center">
        <i class="fa fa-copyright fa-lg" aria-hidden="true"></i><span class="font-openSans font-semibold">Watamu Spring Summer 2024</span>

    </div>
    <div class="flex justify-center items-center bg-purple-300 ">
        <a href="#">watamuspringsummer.co</a>
        <span><i class="fa fa-arrow-right fa-lg " ></i></span>
        <span><i class="fa fa-facebook" ></i></span>
        
     

    </div>
</div>
