
<div class="grid grid-cols-1 xl:grid-cols-3 my-8 gap-5 xl:gap-0">
    <div class="flex justify-center xl:justify-start items-center xl:items-start">
        <img class="w-24 md:w-32 rounded-full cursor-pointer" src="../../assets/WATAMU SPRING.png" alt="">
    </div>
    <div class="flex justify-center items-center">
        <i class="fa fa-copyright fa-lg" aria-hidden="true"></i><span class="font-openSans font-semibold">Watamu Spring Summer 2024</span>

    </div>
    <div class="flex justify-center items-center gap-6">
        <a href="#">watamuspringsummer.co</a>
        <a href=""><i class="fa-brands fa-square-facebook fa-lg hover:text-blue-950"></i></a>
        <a href=""><i class="fa-brands fa-square-instagram fa-lg hover:text-blue-950"></i></a>
        <a href=""><i class="fa-brands fa-square-x-twitter fa-lg hover:text-blue-950"></i></a>
        
     

    </div>
</div>
