
<nav class=" container mx-auto flex justify-between items-center px-5 md:px-20 ">
    <div>
      <img class="w-32 rounded-full cursor-pointer" src="../assets/WATAMU SPRING.png" alt="">
    </div>
    <div class="md:static absolute w-full bg-white left-0 top-[110px] min-h-60 flex  px-6 md:min-h-fit  mt-3 md:w-auto">
      <ul class="flex flex-col md:flex-row md:items-center gap-4 items-start mt-3 md:gap-8 font-openSans font-semibold text-xl" [class.hidden]="!menuOpen">
        <li>Properties</li>
        <li>Tours & Excursions</li>
        <li>Travels</li>
    </ul>
    </div>
    <div class="flex items-center">
      <button class="bg-blue-400 px-2 py-2 rounded-lg  hover:bg-blue-300 hidden md:block font-playfair font-semibold">Get Started
        <span><i class="fa fa-arrow-right" ></i></span>
      </button>
    </div>
    <div class="mr-9 md:hidden">
      <i class="fas fa-bars fa-lg" (click)="toggleMenu()"  [class.hidden]="menuOpen"></i>
      <i class="fa fa-times fa-lg" (click)="toggleMenu()" [class.hidden]="!menuOpen"></i>
    </div>
   
  
    
    
  </nav>
