
<div class="container mx-auto  flex flex-col justify-around items-center rounded-3xl bg-blue-300 mt-4 md:h-[300px] md:w-[1000px]">
    <div class="mt-2 flex flex-col gap-4 items-center justify-between" >
        <p class="font-playfair text-2xl md:text-4xl font-bold mx-3">Ready to Book with us? Reach Out Now!</p>

        <p class="font-openSans leading-10 mx-3 md:text-lg ">Lets embark on this journey together.
Contact us to schedule a stay 
            in Watamu and enjoy all it brings.
            <br>
            <span class=" md:ml-80">See you in Watamu.</span>
            </p>
        

    </div>
    <div class="" >
        <button class="bg-blue-950 mb-12 px-4 py-2 rounded-3xl h-[45px] w-[400px] text-lg font-playfair font-bold text-white hover:bg-blue-500 mt-4 " > Vacation Awaits!
            <span><i class="fa fa-arrow-right fa-lg " ></i></span>

</button>
    </div>
</div>
