<div class="container bg-cover bg-[url('/assets/hero.jpg')] w-auto mx-auto min-h-screen gap-4 ">
    <div class="flex flex-col justify-between gap-3 items-center">
        <h1 class="font-playfair text-5xl md:pl-24  font-semibold text-blue-400 ml-5 mt-4">Explore watamu 
            & create long lasting memories </h1>
            
            
        <p class="font-openSans leading-loose ml-5 text-gray-200 mt-3">All property, travel and touring needs. 
            From luxurious villas to cozy apartments,
            we've got you covered. 
             </p>
             <p class="font-openSans leading-loose ml-5 text-gray-200">Book your dream vacation with us and experience the best of Watamu's beaches, culture, and adventure.</p>
             <p class="font-openSans leading-loose ml-5 text-gray-200">Let us take care of your travel arrangements, so you can focus on making unforgettable memories.</p>
        <!-- <button class="rounded-3xl bg-blue-500 w-60 hover:bg-blue-950 hover:w-64 hover:text-lg hover:text-white hover:font-playfair hover:font-semibold font-semibold font-playfair p-2 mb-4 duration-75 text-black mt-6">See More
            <span><i class="fa fa-arrow-right" ></i></span>
        </button> -->
    </div>
  
   
    
</div>
