
<div class="container mx-auto mt-10 w-auto grid grid-cols-1 md:grid-cols-2 gap-6">
    <div class="order-1 md:order-2 justify-between items-center flex flex-col">
        <h1 class="font-playfair text-4xl text-blue-500 md:hidden mb-3">Travels</h1>
        <img class="object-cover hover:opacity-50 duration-100 rounded-[40px]" src="../../assets/JKIA.jpg" alt="">
    </div>
    <div class=" bg-white order-2 md:order-1 flex  flex-col justify-evenly  items-start  gap-4 ml-4">
        <h1 class="font-playfair text-4xl text-blue-500 hidden md:block mt-0">Travels</h1>
        <p class="font-openSans mt-2 ml-2 leading-relaxed"> Welcome to our travel guide! We cater to visitors arriving at and departing from Mombasa's Moi International Airport and Malindi Airport. Our expert team will ensure a seamless transfer to your destination, whether it's a beach resort in Watamu.</p>
        <p class="ml-2 mr-2 leading-relaxed font-openSans">Explore the stunning natural beauty of Watamu and Malindi with our guided tours.
            Visit famous National Parks like Tsavo East and Masaai Mara.Our knowledgeable guides will share the secrets of this incredible region, from its culture.
        </p> 
        <div class="flex justify-center md:justify-start items-center">
            <button class="font-openSans bg-blue-500 rounded-full px-4 py-2 mt-2 mb-2 font-semibold hover:bg-blue-400">Find More
                <span><i class="fa fa-arrow-right" ></i></span>
            </button>
        </div>

    </div>
</div>
